{% load static %}

#container
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

a:link
{
    color:white;
    text-decoration: none;
}

a:visited
{
    color:white;
}

a:hover
{
    color:#666666;
}

body
{
    background-color: #000000;
    font-family: Monospace;
    font-size; 20px;
    color: white;
    background: url("/static/images/bg.jpg") no-repeat;
    background-color: #000000;
}

p
{
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px #006699;
}

h2
{
    font-size: 48px;
    color: #334d4d;
    text-shadow: 1px 1px white;
}

h3
{
    color: #85adad;
}

#logo
{
    background-color: black;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#data-utw
{
    font-size: 16px;
    color: red;
}

#nav
{
    float: left;
    font-size: 24px;
    background: url("/static/images/leftnav.jpg") no-repeat;
    width: 200px;
    min-height: 620px;
    font-family: 'Athiti', sans-serif;
    border-right: 1px solid #00264d;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#content
{
    float: left;
    background-color: #000d1a;
    width: 778px;
    min-height: 620px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Athiti', sans-serif;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#add
{
    float: left;
    background: url("/static/images/rightnav.jpg") no-repeat;
    width: 200px;
    min-height: 620px;
    border-left: 1px solid #00264d;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#footer
{
    clear: both;
    text-align: center;
    padding: 10px;
}

.set-point
{
    cursor: pointer;
}

.option
{
    padding: 10px;
    background: url("/static/images/note1.jpg") no-repeat;
}

.option:hover
{
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    background: url("/static/images/note.jpg") no-repeat;
    text-shadow: 2px 2px #006699;
}

.pyt
{
    padding: 10px;
    background: url("/static/images/note1.jpg") no-repeat;
}

.pyt:hover
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    background: url("/static/images/pyt.jpg") no-repeat;
    text-shadow: 2px 2px #006699;
}
