{% load static %}

#container
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body
{
    background-color: #000000;
    font-family: Monospace;
    font-size; 20px;
    color: white;
}

h2
{
    font-size: 48px;
    color: #336699;
}

h3
{
    color: #85adad;
}

#logo
{
    background-color: black;
    text-align: center;
    padding: 5px;
}

#nav
{
    float: left;
    font-size: 24px;
    background-color: #060d13;
    width: 200px;
    min-height: 620px;
    padding: 10px;
    font-family: 'Special Elite', cursive;
}

#content
{
    float: left;
    background-color: #00111a;
    width: 740px;
    min-height: 620px;
    padding: 10px;
}

#add
{
    float: left;
    background-color: #060d13;
    width: 200px;
    min-height: 620px;
    padding: 10px;
}

#footer
{
    clear: both;
    text-align: center;
    padding: 20px;
}

.option
{
    padding: 10px;
    background: url("/static/images/note1.jpg") no-repeat;
}

.option:hover
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    background: url("/static/images/note.jpg") no-repeat;
}
