{% block content%}
{% load static %}
<h4 style="text-align: center;">Panel użytkownika</h4>
{% if user.is_authenticated %}
    <hr>
    <p id="user-login">Witaj</br> {{ user.get_username }}</p><hr>
    <img  class="baret" src="{% static '/images/baret.jpg' %}"/>
    <a href="{% url 'logout' %}"><button class="button-reg">Wyloguj</button></a>
{% else %}
    <br><a href="{% url 'login' %}"><button class="button-reg">Logowanie</button></a><br>
    <a href="{% url 'register' %}"><button class="button-reg">Rejestracja</button></a>
{% endif %}
{% endblock %}
