{% extends 'konta/glowna.html'%}
{% load static %}
{% block content%}
<h2>Archiwum RSD<img style="vertical-align:middle;" src="{% static '/images/nt1.jpg' %}"/></h2>
<h4>Wszystkich spraw: {{ total_posts }}</h4>
<hr width="70%" color="#993333"/>
<div id="tabelas">
{% for post in posty %}
    <div class="setpoint">
    <a class="set-point" href="{% url 'wpis' post.id %}">{{ post.tytul }}<br/></a>
    </div>
    <hr width="50%" color="#00264d"/>
{% endfor %}
{% for komentarz in komentarze %}
    <div id="user-comment">{{ komentarz.name }}<br/></div>
    <div id="post-comment">dotyczy: {{ komentarz.post }}</div>
    <div id="body-comment">{{ komentarz.body }}</div><br/>
{% endfor %}
</div>
{% endblock %}



