{% extends 'konta/glowna.html'%}
{% load static %}
{% block content%}

<h2>Kontakt&nbsp;<img style="vertical-align:middle;" src="{% static '/images/pin.jpg' %}"/></h2>
Jeśli chcesz się ze mną skontaktować możesz to zrobić w sekcji <strong>ODPRAWA</strong><br><br>
Jeśli chcesz przyczynić się do powstawania gry i posiadasz autorskie zdjęcia lub dźwięki o tematyce policyjnej,
to wyślij je bezpośrednio na adres<br><br> polic@majster.hub.pl<br><br> w tytule wpisując [Materiały do Gry].
{% endblock %}