{% extends 'konta/glowna.html'%}
{% load static %}
{% block content%}

<h2>O grze<img style="vertical-align:middle;" src="{% static '/images/pc.jpg' %}"/></h2>
<strong>Policmajster</strong> to gra, którą piszę w języku programowania Python.<br>
Będzie w pełni darmowa, dostępna na platformę PC – Windows.<br><br>

Gra jest z gatunku tekstowych oraz click&point tj. wskaż i kliknij
z (mam nadzieję) dość wciągającą i ciekawą fabułą, osadzoną w latach 2000-2010 z opisami i zdjęciami miejsc, które możesz zwiedzić realnie.<br>
Nie osadziłem historii w XVI wieku itp., nie będzie smoków i czarów.<br>

C&P jest wymierającym gatunkiem, dlatego postawiłem na klimat
(obraz, dźwięk) a także wzbogacić grę o dodatkowe minigry np. strzelanie
z pistoletu, rozwiązywanie testów, łamigłówki logiczne, przeszukiwanie ekranu, przesłuchania i.. coś co pewnie jeszcze przyjdzie mi do głowy po drodze.<br>
W grze nie zabraknie też wątku edukacyjnego, choć to pewnie zostanie ograniczone w takim stopniu, by nie zniechęcić gracza zapamiętywaniem policyjnych przepisów.<br>

Od zawsze chciałem stworzyć grę, a że teraz mam okazję to.. tworzę 🙂<br><br>
Przyznam szczerze, że nie wiem kiedy gra będzie w pełni skończona. Nie, że mi się nie chce ale po drodze mam jeszcze dom, rodzinę, pracę; czasem
potrafię też przerzucić swoje zainteresowanie w innym kierunku i zaczynam brać się za pisanie jakiegoś skryptu do pracy, poznawać nową bibliotekę pythona, tworzyć nowy
utwór jak nachodzi mnie wena, no słowem mnóstwo tego ale grę mam cały czas w swoim zainteresowaniu.
{% endblock %}
