<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css"/>
</head>
<body>
<div id="logo">
    <img src="{% static '/images/logo.jpg' %}" alt="Policmajster"/>
    <br/><br/>
    <div id="container-login">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}<br><br>
                <p>Rejestracja jest krótka.</p>
                <p>Zarejestrowany użytkownik może m.in. komentować w sekcji ODPRAWA</p>
                {{ form.as_p }}
                <button class="butt">Zarejestruj</button>
            </form>
        </div>
    </div>
    <br><br>
    <a href="{% url 'home' %}"> <-- Cofnij</a>
    <div id="footer" style="padding:100px;">
        {% include 'konta/footer.html' %}
    </div>

</div>
</body>
</html>